.container {
  background: #EFF0F3;
  border-radius: 25px;
  width: 100%;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto;

  display: grid;

  grid-template-areas:
      "navigation"
      "progress"
      "properties"
      "task-info"
      "event-log"
      "add-attachment"
      "add-comment";
}

@media (min-width: 1100px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "navigation navigation"
      "progress properties"
      "task-info event-log"
      "add-attachment add-comment";
  }
  .progress, .properties {
    display: flex;
    height: 60px;
  }
  .property {
    display: inline-block;
    padding: 0 15px;
    border-right: 1px solid #C4C4C4;;
  }
  .add-attachment {
    border-radius: 0 0 0 25px;
  }
  .add-comment {
    border-radius: 0 0 25px 0;
  }

}

.navigation {
  height: 40px;
  padding: 10px 10px;
  text-align: right;
  display: flex;
  justify-content: flex-end;

  grid-area: navigation;
}

.navigation__button {
  width: 40px;
  height: 40px;
  margin: 0 5px;

  background: #FFFFFF;
  border: 1px solid rgba(135, 135, 135, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.progress {
  padding: 10px 10px;
  justify-content: space-between;

  grid-area: progress;
}

.progress__status-container{
  display: flex;
  padding: 10px 0;
}

.progress__status {
  border-radius: 10px 0 0 10px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;

  color: #FCF6F6;
  padding: 0 15px;
}

.progress__next {
  width: 40px;
  border: none;
  border-radius: 0 10px 10px 0;
  margin-left: 10px;
}

.progress__status, .progress__next {
  display: inline-block;
  height: 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.properties {
  grid-area: properties;
  height: auto;
}

.progress, .properties {
  background: white;
  border-bottom: 1px solid #C4C4C4;
  border-top: 1px solid #C4C4C4;
  padding: 10px 10px;
}

.property__title, .task-info__title {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #BBBBBB;
  padding: 10px 0;
}

.property__value {
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 13px;
  line-height: 20px;

  border: none;
  max-width: 115px;
}

.task-info {
  grid-area: task-info;
  background: white;
}

.task-info__tags {
  display: flex;
}

.set-tag {
  display: block;
  border: none;
  margin: 3px;
}

.set-color-btn {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin: 3px;
  border: none;
}

.task-info__tag-btn {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px dashed grey;
  background: transparent;
  margin: 3px;

  font-size: 10px;
  text-align: center;
  color: gray;
}

.task-info__add-tags {
  position: relative;
  background: #EFF0F3;
  padding: 5px;
  border-radius: 10px;
}

.task-info__text {
  font-size: 20px;
  height: 300px;
  resize: none;
}

.task-info__name {
  font-size: 30px;
}

.task-info__name, .task-info__text, .add-comment__text {
  font-family: Roboto, sans-serif;
  font-weight: lighter;

  width: 90%;
  border: none;
}

.event-log {
  grid-area: event-log;
  background: #EFF0F3;
}

.event-log__comment {
  padding: 10px;
  color: #545454;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 13px;
}

.task-info, .event-log {
  height: 400px;
  padding: 10px 10px;
  overflow: scroll;
}

.add-comment {
  grid-area: add-comment;
}

.add-attachment {
  grid-area: add-attachment;
}

.add-comment__text {
  width: 80%;
  height: 40px;
}

.add-comment__btn {
  width: 15%;
  height: 25px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(91.84deg, #A06BF7 0%, #B833CD 100%);
  color: white;
}

.add-attachment, .add-comment {
  height: 40px;
  padding: 10px;
  background: white;
  border-top: 1px solid #C4C4C4;
}

.progress, .task-info, .add-attachment {
  border-right: 1px solid #C4C4C4;
}

.task-info__name:focus, .task-info__text:focus, input.property__value:focus, .set-tag:focus {
  border: 1px solid #C4C4C4;
  outline: none;
}

.error {
  border: 1px solid red;
}

.flaticon-028-trash, .flaticon-060-diskette, .flaticon-193-cancel {
  color: #7A7A7A;
  font-size: 20px;
}

.flaticon-193-cancel {
  font-size: 16px;
}

.select-priority:focus, .navigation__button:focus, head:focus, .add-comment__text:focus, .add-comment__btn:focus, .task-info__tag-btn:focus {
  outline: none;
}

.ready {
  background: linear-gradient(91.84deg, #4DE89E 0%, #439450 55.56%, #A9C604 100%);
}

.development {
  background: linear-gradient(91.84deg, #A06BF7 0%, #B833CD 100%);
}

.qa {
  background: linear-gradient(91.84deg, #4441F3 0%, #59CCE6 100%);
}

.closed {
  background: linear-gradient(91.84deg, #FB7B33 0%, #F8CA56 100%);
}

::ng-deep .mat-dialog-container {
  box-shadow: none;
  background: none;
}

::ng-deep .mat-select {
  max-width: 200px;
  height: 25px;
  font-size: 16px;
  text-align: center;
  padding-top: 13px;
  border-radius: 10px;
  border: 1px #C4C4C4 solid;
  margin: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.select-priority {
  width: auto;
  height: 40px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px #C4C4C4 solid;
  margin: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
