<form [formGroup]="formGr">
  <div class="container">

    <div class="navigation">
      <ng-container *ngIf="task.id; else saver">
        <button class="navigation__button flaticon-028-trash" (click)="delete(task)"></button>
        <button class="navigation__button flaticon-193-cancel" (click)="onSubmit()"></button>
      </ng-container>
      <ng-template #saver>
        <button class="navigation__button flaticon-060-diskette" (click)="onSubmit()"></button>
        <button class="navigation__button flaticon-193-cancel" [mat-dialog-close]="true" ></button>
      </ng-template>
    </div>
    <div class="progress">
      <div class="progress__status-container">
        <div class="progress__status {{task.status}}">{{task.status | uppercase}}</div>
        <div class="progress__next {{task.status}}" (click)="changeStatus(task)"></div>
      </div>
      <mat-select formControlName="assignedTo">
        <input class="search-dev" (keyup)="onKey($event)">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let dev of selectedDevs" [value]="dev.uid">{{dev.displayName}}</mat-option>
      </mat-select>
    </div>

    <div class="properties">
      <div class="property">
        <h1 class="property__title">TICKET NUMBER</h1>
        <div class="property__value">{{task.id | truncate}}</div>
      </div>
      <div class="property">
        <h1 class="property__title">CREATED</h1>
        <div class="property__value">{{task.created | date}}</div>
      </div>
      <div class="property">
        <h1 class="property__title">DUE DATE</h1>
        <input type="date" class="property__value"
               formControlName="dueDate"
               appCheckDueDate="{{task.dueDate}}">

      </div>
      <select formControlName="priority" class="select-priority">
        <option disabled>Select priority</option>
        <option value="High Priority">High Priority</option>
        <option value="Med Priority">Med Priority</option>
        <option value="Low Priority">Low Priority</option>
      </select>
    </div>

    <div class="task-info">
      <input class="task-info__name" [class.error]="isControlInvalid('name')"
             placeholder="Task name" type="text" formControlName="name" ngxTrim maxlength="20">
      <h1 class="task-info__title">INFO</h1>
      <div class="task-info__tags">
        <ng-container *ngIf="task.tags.length">
          <app-tags *ngFor="let tag of task.tags" [tagId]="tag" (click)="removeTag(tag)"></app-tags>
        </ng-container>
        <button class="task-info__tag-btn" (click)="toggle('TagWindow')">+</button>
      </div>
      <div class="task-info__add-tags" *ngIf="openTagWindow">
        <button class="task-info__tag-btn" (click)="toggle('NewTagWindow')">+</button>
        <app-tags *ngFor="let tag of tags"
             (click)="addTag(tag.id)"
                  [tagId]="tag.id"></app-tags>
        <div class="task-info__add-tags" *ngIf="openNewTagWindow">
          <input type="text" class="set-tag" #inputElementTag placeholder="create new tag">
          <button class="set-color-btn" *ngFor="let color of tagColors"
                  appSetBackground="{{color}}"
                  (click)="addNewTag(color)"
          ></button>
        </div>
      </div>
      <textarea class="task-info__text"
                placeholder="Add some info here" formControlName="info" maxlength="1000"></textarea>
    </div>

    <div class="event-log">
      <ng-container *ngIf="task.comments.length" >
        <ng-container *ngFor="let comment of task.comments">
          <div class="event-log__comment">{{comment}}</div>
        </ng-container>
      </ng-container>
    </div>

    <div class="add-attachment"></div>

    <div class="add-comment">
      <input class="add-comment__text" placeholder="Add comment..." type="text" ngxTrim value="" #inputElementComment maxlength="100">
      <button class="add-comment__btn" (click)="addComment()">Add</button>
    </div>

  </div>
</form>
