.container {
  background: #EFF0F3;
  border-radius: 25px;
  width: 100%;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto;

  display: grid;

  grid-template-areas:
      "navigation"
      "progress"
      "properties"
      "task-info"
      "event-log"
      "add-attachment"
      "add-comment";
}

@media (min-width: 1100px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "navigation navigation"
      "progress properties"
      "task-info event-log"
      "add-attachment add-comment";
  }
  .progress, .properties {
    display: flex;
    height: 60px;
  }
  .progress__status {
    font-size: 24px;
  }
  .property {
    display: inline-block;
    padding: 0 15px;
    border-right: 1px solid #C4C4C4;;
  }
  .add-attachment {
    border-radius: 0 0 0 25px;
  }
  .add-comment {
    border-radius: 0 0 25px 0;
  }
  .select-priority {
    margin: 10px;
  }

}

.progress {
  padding: 10px 10px;
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid #C4C4C4;
  border-top: 1px solid #C4C4C4;
  grid-area: progress;
}

.progress__status-container{
  display: flex;
  padding: 10px 0;
}

.progress__status {
  margin: 0 5px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 40px;


  color: #FCF6F6;
  padding: 0 15px;
}

.progress__next {
  width: 40px;
  border-radius: 0 10px 10px 0;

}

.progress__previous {
  width: 40px;
  border-radius: 10px 0 0 10px;
}

.progress__status, .progress__next {
  display: inline-block;
  height: 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.properties {
  grid-area: properties;
  height: auto;
}

.task-info {
  grid-area: task-info;
  background: white;
}

.task-info__text {
  font-size: 20px;
  height: 300px;
  resize: none;
}

.task-info__name {
  font-size: 30px;
  border: none;
}

.task-info__name, .task-info__text, .add-comment__text {
  font-family: Roboto, sans-serif;
  font-weight: 400;

  width: 90%;
}

.event-log {
  grid-area: event-log;
  background: #EFF0F3;
}

.task-info, .event-log {
  height: 400px;
  padding: 10px 10px;
  overflow-y: auto;
}

.add-comment {
  grid-area: add-comment;
}

.add-attachment {
  grid-area: add-attachment;
}

.add-attachment__input {
  max-width: 200px;
}

.add-comment__text {
  width: 80%;
  height: 40px;
}

.add-comment__btn {
  width: 15%;
  height: 25px;
  border-radius: 5px;
  background: linear-gradient(91.84deg, #A06BF7 0%, #B833CD 100%);
  color: white;
}

.add-attachment, .add-comment {
  height: 40px;
  padding: 10px;
  background: white;
  border-top: 1px solid #C4C4C4;
}

.select-priority {
  width: auto;
  height: 40px;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.error {
  border: 1px solid red;
}
