.container {
  display: grid;
  justify-items: center;
  align-content: center;
  height: 100%;
}

.options {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.no-data {
  text-align: center;
  font-size: 24px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
}

::ng-deep.mat-slide-toggle {
  padding: 20px 0;
}
