<div class="add-tag">
  <button mat-icon-button (click)="toggle('TagWindow')">
    <mat-icon class="mat-icon-rtl-mirror">
      {{openTagWindow ? 'expand_more' : 'chevron_right'}}
    </mat-icon>
  </button>
  ADD NEW TAG
</div>
<div class="task-info__add-tags" *ngIf="openTagWindow">
  <div class="add-tag">
    <button mat-icon-button (click)="toggle('NewTagWindow')">
      <mat-icon class="mat-icon-rtl-mirror">
        {{openNewTagWindow ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>NEW
  </div>
  <ng-container *ngFor="let tag of tags">
    <app-tag [tag]="tag" (click)="onClick.emit(tag)"></app-tag>
    <button class="delete-tag no-outline no-border" appSetBackground="{{tag.background}}" (click)="deleteTag(tag.id)">x</button>
  </ng-container>

  <div class="task-info__add-tags" *ngIf="openNewTagWindow">
    <input type="text" class="set-tag no-outline"
           #inputElementTag
           placeholder="create new tag" maxlength="15"
           (keyup)="onKey($event)"
    >
    <button class="set-color-btn no-outline" *ngFor="let color of tagColors"
            appSetBackground="{{color}}"
            (click)="changeColor(color)"
    ></button>
    <button (click)="addNewTag()">create tag</button>
    <div *ngIf="tagPreviewText" appSetBackground="{{selectedColor}}" class="tag">{{tagPreviewText}}</div>
  </div>
</div>
