<div>
  <div class="task-editor">
    <div class="editor-nav">
      <button class="task-editor-button"></button>
      <button class="task-editor-button"></button>
    </div>
    <div class="editor-head">
      <div class="progress">

      </div>
      <div class="task-properties">
        <div class="property">
          <h1 class="prop-title">TICKET NUMBER</h1>
          <div class="prop-value">1</div>
        </div>
        <div class="property">
          <h1 class="prop-title">CREATED</h1>
          <div class="prop-value">Nov 15, 10:47pm</div>
        </div>
        <div class="property">
          <h1 class="prop-title">DUE DATE</h1>
          <div class="prop-value">Dec 15, 10:47pm</div>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="task-info">
        <input class="task-name" value="Task name" type="text">
        <div class="info">
          <h1 class="info-title">INFO</h1>
          <textarea class="info-text" >some info</textarea>
        </div>
      </div>
      <div class="event-log">

      </div>
    </div>
    <div class="editor-footer">
      <div class="add-attachment">

      </div>
      <div class="add-comment">

      </div>
    </div>
  </div>
</div>

