.task-editor {
  background: #EFF0F3;
  border-radius: 25px;
  width: 100%;
  height: 600px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto;
}

.editor-nav {
  height: 40px;
  padding: 10px 10px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.task-editor-button {
  width: 40px;
  height: 40px;
  margin: 0 5px;

  background: #FFFFFF;
  border: 1px solid rgba(135, 135, 135, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.editor-head {
  height: 80px;
  background: white;
  border-bottom: 1px solid #C4C4C4;
  border-top: 1px solid #C4C4C4;
  display: flex;
}

.progress, .task-properties {
  display: flex;
  width: 50%;
  padding: 10px 10px;
}

.progress {
  padding: 10px 10px;
  justify-content: space-between;
}

.progress-status-container{
  display: flex;
  padding: 10px 0;
}

.task-info, .event-log, .add-attachment, .add-comment {
  display: inline-block;
  width: 50%;
  padding: 10px 10px;
  overflow: scroll;
}

.progress, .task-info, .add-attachment {
  border-right: 1px solid #C4C4C4;
}

.main-content {
  height: 400px;
  display: flex;
}

.progress-status {
  border-radius: 10px 0 0 10px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;

  color: #FCF6F6;
  padding: 0 15px;
}

.progress-status, .progress-status-next {
  display: inline-block;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.progress-status-next {
  width: 40px;
  border: none;
  border-radius: 0 10px 10px 0;
  margin-left: 10px;
}

.ready {
  background: linear-gradient(91.84deg, #4DE89E 0%, #439450 55.56%, #A9C604 100%);
}

.development {
  background: linear-gradient(91.84deg, #A06BF7 0%, #B833CD 100%);
}

.qa {
  background: linear-gradient(91.84deg, #4441F3 0%, #59CCE6 100%);
}

.closed {
  background: linear-gradient(91.84deg, #FB7B33 0%, #F8CA56 100%);
}

.task-info {
  background: white;
  padding: 10px 10px;
}

.event-log-comment {
  padding: 10px;
  color: #545454;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 13px;
}

.editor-footer {
  height: 60px;
  display: flex;
  background: white;
  border-top: 1px solid #C4C4C4;
  border-radius: 0 0 25px 25px;
}

.task-name, .info-text, input.add-comment {
  font-family: Roboto, sans-serif;
  font-weight: lighter;

  width: 90%;
  height: auto;
  border: 0px;
}

.task-name:focus, .info-text:focus, input.prop-value:focus {
  border: 1px solid #C4C4C4;
  outline: none;
}

.info-title, .prop-title {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #BBBBBB;
  padding: 10px 0;
}
.info-text {
  font-size: 20px;
  height: 300px;
  resize: none;

}

.task-name {
  font-size: 30px;
}

.property {
  display: inline-block;
  padding: 0 15px;
  border-right: 1px solid #C4C4C4;;
}

.prop-value {
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 13px;
  line-height: 20px;
}

input.prop-value {
  border: none;
  max-width: 115px;
}

.error {
  border: 1px solid red;
}

.flaticon-028-trash, .flaticon-060-diskette, .flaticon-193-cancel {
  color: #7A7A7A;
  font-size: 20px;
}

.flaticon-193-cancel {
  font-size: 16px;
}

.select-priority {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: 10px;
  border: 1px dashed #C4C4C4;

}

.select-priority:focus, .task-editor-button:focus, input.add-comment:focus, .add-comment-btn:focus {
  outline: none;
}

input.add-comment {
  width: 80%;
}

.add-comment-btn {
  width: 15%;
  height: 25px;
  border: 0px;
  border-radius: 5px;
  background: linear-gradient(91.84deg, #A06BF7 0%, #B833CD 100%);
  color: white;
}

