<div class="container"
     cdkDropList
     [cdkDropListData]="{'tasks': tasks, 'status': column}"

     cdkDropListSortingDisabled>
  <div class="block__header" appSetBackground="{{column}}">
    <h1 class="block__header_text">{{column | uppercase}}</h1>
  </div>
  <ng-container *ngFor="let task of tasks;trackBy:trackByFn">
    <app-task [task]="task" cdkDrag [cdkDragDisabled]="!isDraggable || task.isDragging || task.isChanging"
              (cdkDragDropped)="handleTask($event, task)"
              (cdkDragStarted)="addBlock(task)"
              [routerLink]="['task', task.id]" class="no-outline"
    ></app-task>
  </ng-container>
</div>


