<div class="sidebar" > <!--(click)="toggle()" [@openClose]="isOpen ? 'open' : 'closed'"-->
  <ng-container>
    <h1 class="sidebar-title">MyKanban</h1>
    <div class="sidebar-navigation">
<!--      <input (keyup)="eventKey.next($event)">-->
      <a href="#" class="sidebar-link" appZoom="17px">All projects (7)</a>
      <a href="#" class="sidebar-link" appZoom="17px">My projects (3)</a>
      <a href="#" class="sidebar-link" appZoom="17px">Create project</a>
    </div>
  </ng-container>
</div>
