<div class="projects">
  <mat-select (selectionChange)="changeSorting($event)" [value]="selected">

    <mat-label>Sort by</mat-label>
    <mat-option value="name">sort by name</mat-option>
    <mat-option value="created">sort by date</mat-option>
    <mat-option value="lastModified">sort by last modification</mat-option>
  </mat-select>
  <app-project *ngFor="let project of projectsToShow; trackBy:trackByFn" class="no-outline"
               [project]="project" [routerLink]="['project', project.id]"></app-project>
  <div class="projects__navigation" *ngIf="projects">
    <button class="projects__navigation-btn no-border no-outline"
            [disabled]="currentPage === 1" (click)="loadPreviousPage()"
            [class.disabled]="currentPage === 1">previous</button>
    <button class="projects__navigation-btn no-border no-outline"
            [disabled]="currentPage === pagesAmount" (click)="loadNextPage()"
            [class.disabled]="currentPage === pagesAmount">next</button>
  </div>
  <button class="projects__add-project" (click)="showDialog()">Create new project</button>
</div>

