<div class="projects">
  <ng-container *ngIf="projects; else loading">
    <ng-container *ngIf="projects.length; else noProjects"></ng-container>
    <div class="projects-header">
      <mat-select (selectionChange)="changeSorting($event)" [value]="selected" [class.disabled]="!projects.length">

        <mat-label>Sort by</mat-label>
        <mat-option value="name">sort by name</mat-option>
        <mat-option value="created">sort by date</mat-option>
        <mat-option value="lastModified">sort by last modification</mat-option>
      </mat-select>
    </div>
    <app-project *ngFor="let project of projects; trackBy:trackByFn" class="no-outline"
                 [project]="project" [routerLink]="['project', project.id]"></app-project>
    <div class="projects__navigation" *ngIf="projects">
      <button class="projects__navigation-btn no-border no-outline"
              (click)="loadPreviousPage()"
              [class.disabled]="!previousItem">previous</button>
      <button class="projects__navigation-btn no-border no-outline"
              (click)="loadNextPage()"
              [class.disabled]="!nextItem">next</button>
    </div>
    <ng-template #noProjects><div class="no-tasks">No projects available</div></ng-template>
  </ng-container>
  <ng-template #loading><div class="no-tasks">Loading...</div></ng-template>

  <button class="projects__add-project" (click)="showDialog()">Create new project</button>
</div>

