.projects {
  display: grid;
  grid-gap: 20px;
  padding: 20px;

  overflow-y: auto;
  max-height: 700px;
}

.projects-header {
  display: flex;
  justify-content: space-between;
}

.projects__add-project {
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 15px;
  border: none;
  width: 200px;
  height: 40px;
  background: #980cb8;

  color: #ffffff;
  font-family: "Roboto Light", sans-serif;
  font-size: 20px;
}

.projects__add-project:focus {
  outline: none;
}

.projects__navigation {
  text-align: center;
  padding: 10px 0;
}

.projects__navigation-btn {
  margin: 0 5px;
  background: #323232;
  width: 100px;
  height: 35px;
  border-radius: 10px;

  color: white;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}


.disabled {
  display: none;
}

::ng-deep.mat-slide-toggle {
  padding: 18px 10px;
}
