.container {
  background: #EFF0F3;
  border-radius: 25px;
  width: 100%;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto;

  display: grid;

  grid-template-areas:
      "navigation"
      "main-info"
      "properties"
      "project-info"
      "event-log";
}

@media (min-width: 1100px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "navigation navigation"
      "main-info properties"
      "project-info event-log";
  }

  .main-info, .properties {
    display: flex;
    height: 60px;
  }

  .property {
    display: inline-block;
    padding: 0 15px;
    border-right: 1px solid #C4C4C4;;
  }
}

.navigation {
  grid-area: navigation;
}

.main-info {
  padding: 10px 10px;
  justify-content: space-between;

  background: white;
  border-bottom: 1px solid #C4C4C4;
  border-top: 1px solid #C4C4C4;
  grid-area: main-info;
}

.go-btn {
  height: 40px;
  margin: 10px;
  border-radius: 10px;

  color: white;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
}

.project-info__text {
  font-size: 20px;
  height: 300px;
  resize: none;
  width: 90%;
}

.main-info__name {
  font-size: 30px;
  width: 250px;
  border: none;
}

.main-info__name, .project-info__text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.properties {
  grid-area: properties;
}

.project-info {
  grid-area: project-info;
  background: white;
  border-radius: 0 0 0 25px;
}

.event-log {
  grid-area: event-log;
}

.event-log__task {
  width: 120px;
  height: 20px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  color: white;
  margin-right: 5px;
}

.event-log__task-container {
  display: flex;
  margin: 10px 0;
}
.project-info, .event-log {
  height: 400px;
  padding: 10px 10px;
  overflow-y: auto;
}

