<form [formGroup]="formGr" >
  <div class="container">

    <div class="navigation">
      <ng-container *ngIf="project.id; else saver">
        <button class="navigation__button flaticon-028-trash no-outline"
                (click)="delete(project)"></button>
        <button class="navigation__button flaticon-193-cancel no-outline" (click)="onSubmit()"></button>
      </ng-container>
      <ng-template #saver>
        <button class="navigation__button flaticon-060-diskette no-outline" (click)="onSubmit()"></button>
        <button class="navigation__button flaticon-193-cancel no-outline" [mat-dialog-close]="true" ></button>
      </ng-template>
    </div>

    <div class="main-info right-border">
      <div *ngIf="isControlInvalid('name')" class="error-warn">please enter correct name</div>
      <input class="main-info__name no-outline gray-border-focus"
             [class.error]="isControlInvalid('name')"
             placeholder="Project name" type="text" formControlName="name" maxlength="20">
      <mat-select multiple (selectionChange)="updateDevs($event)" formControlName="selectedDevs"
                  (click)="dropNotification('Only project creator can set developers', 'warn')">
        <input class="search-dev no-outline" (keyup)="onKey($event)">
        <mat-option *ngFor="let dev of searchDevs"
                    [value]="dev.uid"
        >{{dev.displayName}}</mat-option>
      </mat-select>
    </div>

    <div class="properties">
      <div class="property">
        <h1 class="editor-title">PROJECT ID</h1>
        <div class="property__value no-border" *ngIf="project.id">{{project.id | truncate}}</div>
      </div>
      <div class="property">
        <h1 class="editor-title">CREATED</h1>
        <div class="property__value no-border">{{project.created | date}}</div>
      </div>
      <button class="go-btn no-outline no-border" appSetBackground="High Priority">GO TO BOARD</button>
    </div>

    <div class="project-info right-border">
      <h1 class="editor-title">INFO</h1>
      <textarea class="project-info__text no-outline gray-border-focus no-border"
                placeholder="Add some info here" formControlName="info" maxlength="1000"></textarea>
      <h1 class="editor-title">CREATED BY</h1>
        <app-project-dev [userUid]="project.createdBy"></app-project-dev>
      <h1 class="editor-title">DEVELOPERS</h1>
        <app-project-dev *ngFor="let dev of project.selectedDevs" [userUid]="dev"></app-project-dev>
    </div>

    <div class="event-log">
      <ng-container *ngIf="sortedTasks">
        <div class="event-log__task-container" *ngFor="let status of statuses" >
          <div class="event-log__task" appSetBackground="{{status}}">{{status}}</div>
          <div>: {{sortedTasks[status].length || 0}}</div>
        </div>
      </ng-container>



    </div>
  </div>
</form>
<simple-notifications></simple-notifications>
