<div class="task" (click)="showDialog(task)">
  <div class="priority" appSetBackground="{{task.priority}}">
    <p class="task__priority__text">{{task.priority}}</p>
  </div>
  <div class="task__name">
    <p class="task__name">{{task.name}}</p>
  </div>
  <div class="task__footer">
    <div class="task__footer__due-date" appCheckDueDate="{{task.dueDate}}">{{task.dueDate | date}}</div>
    <img src="{{devPhotoURL}}" class="task__footer__dev" *ngIf="devPhotoURL; else addDev">
    <ng-template class="task__footer__btn" #addDev>
      <div class="task__footer__btn"></div>
    </ng-template>
  </div>
  <div class="task__tags" *ngIf="task.tags">
      <app-tags *ngFor="let tag of task.tags" [tagId]="tag"></app-tags>
  </div>

</div>
