.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.board__add-task {
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 15px;
  border: none;
  width: 120px;
  height: 40px;
  background: #980cb8;

  color: #ffffff;
  font-family: "Roboto Light", sans-serif;
  font-size: 20px;
}

.board__add-task:focus {
  outline: none;
}

