@font-face {
  font-family: "Flaticon";
  src: url("assets/Flaticon.eot");
  src: url("assets/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("assets/Flaticon.woff") format("woff"),
       url("assets/Flaticon.ttf") format("truetype"),
       url("assets/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("assets/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-001-zoom-out:before { content: "\f100"; }
.flaticon-002-zoom-in:before { content: "\f101"; }
.flaticon-003-yin-yang:before { content: "\f102"; }
.flaticon-004-wifi-3:before { content: "\f103"; }
.flaticon-005-wifi-2:before { content: "\f104"; }
.flaticon-006-browser:before { content: "\f105"; }
.flaticon-007-broken-link:before { content: "\f106"; }
.flaticon-008-watch:before { content: "\f107"; }
.flaticon-009-wallet-1:before { content: "\f108"; }
.flaticon-010-wallet:before { content: "\f109"; }
.flaticon-011-volume:before { content: "\f10a"; }
.flaticon-012-voice-recorder:before { content: "\f10b"; }
.flaticon-013-video-camera:before { content: "\f10c"; }
.flaticon-014-user-2:before { content: "\f10d"; }
.flaticon-015-user-1:before { content: "\f10e"; }
.flaticon-016-user:before { content: "\f10f"; }
.flaticon-017-usb-1:before { content: "\f110"; }
.flaticon-018-usb:before { content: "\f111"; }
.flaticon-019-computing-cloud:before { content: "\f112"; }
.flaticon-020-upload-1:before { content: "\f113"; }
.flaticon-021-upload:before { content: "\f114"; }
.flaticon-022-up-arrow:before { content: "\f115"; }
.flaticon-023-undo:before { content: "\f116"; }
.flaticon-024-umbrella:before { content: "\f117"; }
.flaticon-025-type:before { content: "\f118"; }
.flaticon-026-sort:before { content: "\f119"; }
.flaticon-027-trash-1:before { content: "\f11a"; }
.flaticon-028-trash:before { content: "\f11b"; }
.flaticon-029-wifi-1:before { content: "\f11c"; }
.flaticon-030-switch-1:before { content: "\f11d"; }
.flaticon-031-switch:before { content: "\f11e"; }
.flaticon-032-wall-clock-1:before { content: "\f11f"; }
.flaticon-033-ticket:before { content: "\f120"; }
.flaticon-034-tick:before { content: "\f121"; }
.flaticon-035-push-pin:before { content: "\f122"; }
.flaticon-036-like:before { content: "\f123"; }
.flaticon-037-dislike:before { content: "\f124"; }
.flaticon-038-target:before { content: "\f125"; }
.flaticon-039-price-tag:before { content: "\f126"; }
.flaticon-040-sun:before { content: "\f127"; }
.flaticon-041-suitcase:before { content: "\f128"; }
.flaticon-042-microphone:before { content: "\f129"; }
.flaticon-043-stop-1:before { content: "\f12a"; }
.flaticon-044-star:before { content: "\f12b"; }
.flaticon-045-chat-1:before { content: "\f12c"; }
.flaticon-046-chat:before { content: "\f12d"; }
.flaticon-047-levels:before { content: "\f12e"; }
.flaticon-048-sim-card:before { content: "\f12f"; }
.flaticon-049-panel:before { content: "\f130"; }
.flaticon-050-signal:before { content: "\f131"; }
.flaticon-051-shuffle:before { content: "\f132"; }
.flaticon-052-shopping-cart-2:before { content: "\f133"; }
.flaticon-053-shopping-basket:before { content: "\f134"; }
.flaticon-054-shopping-bag:before { content: "\f135"; }
.flaticon-055-shop:before { content: "\f136"; }
.flaticon-056-share:before { content: "\f137"; }
.flaticon-057-settings-1:before { content: "\f138"; }
.flaticon-058-server-1:before { content: "\f139"; }
.flaticon-059-loupe:before { content: "\f13a"; }
.flaticon-060-diskette:before { content: "\f13b"; }
.flaticon-061-ruler:before { content: "\f13c"; }
.flaticon-062-startup:before { content: "\f13d"; }
.flaticon-063-next:before { content: "\f13e"; }
.flaticon-064-previous:before { content: "\f13f"; }
.flaticon-065-shopping-cart-1:before { content: "\f140"; }
.flaticon-066-remove:before { content: "\f141"; }
.flaticon-067-reload:before { content: "\f142"; }
.flaticon-068-refresh:before { content: "\f143"; }
.flaticon-069-radio:before { content: "\f144"; }
.flaticon-070-radar:before { content: "\f145"; }
.flaticon-071-question:before { content: "\f146"; }
.flaticon-072-pie-chart-1:before { content: "\f147"; }
.flaticon-073-shield-2:before { content: "\f148"; }
.flaticon-074-printer:before { content: "\f149"; }
.flaticon-075-presentation:before { content: "\f14a"; }
.flaticon-076-gift:before { content: "\f14b"; }
.flaticon-077-power:before { content: "\f14c"; }
.flaticon-078-puzzle:before { content: "\f14d"; }
.flaticon-079-plug:before { content: "\f14e"; }
.flaticon-080-play:before { content: "\f14f"; }
.flaticon-081-picture-1:before { content: "\f150"; }
.flaticon-082-picture:before { content: "\f151"; }
.flaticon-083-telephone:before { content: "\f152"; }
.flaticon-084-percentage:before { content: "\f153"; }
.flaticon-085-pencil:before { content: "\f154"; }
.flaticon-086-school-material:before { content: "\f155"; }
.flaticon-087-pause:before { content: "\f156"; }
.flaticon-088-satellite-dish:before { content: "\f157"; }
.flaticon-089-paperclip:before { content: "\f158"; }
.flaticon-090-cursor-2:before { content: "\f159"; }
.flaticon-091-stop:before { content: "\f15a"; }
.flaticon-092-paint-palette:before { content: "\f15b"; }
.flaticon-093-paint-brush:before { content: "\f15c"; }
.flaticon-094-email-3:before { content: "\f15d"; }
.flaticon-095-folder-1:before { content: "\f15e"; }
.flaticon-096-cloud-computing-1:before { content: "\f15f"; }
.flaticon-097-laptop:before { content: "\f160"; }
.flaticon-098-no-wifi:before { content: "\f161"; }
.flaticon-099-no-sound:before { content: "\f162"; }
.flaticon-100-flash-1:before { content: "\f163"; }
.flaticon-101-no-camera:before { content: "\f164"; }
.flaticon-102-battery-4:before { content: "\f165"; }
.flaticon-103-wifi:before { content: "\f166"; }
.flaticon-104-newspaper:before { content: "\f167"; }
.flaticon-105-cursor-1:before { content: "\f168"; }
.flaticon-106-mute:before { content: "\f169"; }
.flaticon-107-dollar-1:before { content: "\f16a"; }
.flaticon-108-smartphone:before { content: "\f16b"; }
.flaticon-109-minimize:before { content: "\f16c"; }
.flaticon-110-karaoke:before { content: "\f16d"; }
.flaticon-111-more:before { content: "\f16e"; }
.flaticon-112-megaphone:before { content: "\f16f"; }
.flaticon-113-medal:before { content: "\f170"; }
.flaticon-114-maximize:before { content: "\f171"; }
.flaticon-115-placeholder-1:before { content: "\f172"; }
.flaticon-116-map:before { content: "\f173"; }
.flaticon-117-man:before { content: "\f174"; }
.flaticon-118-settings:before { content: "\f175"; }
.flaticon-119-email-2:before { content: "\f176"; }
.flaticon-120-mailbox:before { content: "\f177"; }
.flaticon-121-email-1:before { content: "\f178"; }
.flaticon-122-email:before { content: "\f179"; }
.flaticon-123-magnet:before { content: "\f17a"; }
.flaticon-124-logout:before { content: "\f17b"; }
.flaticon-125-login:before { content: "\f17c"; }
.flaticon-126-unlock:before { content: "\f17d"; }
.flaticon-127-padlock:before { content: "\f17e"; }
.flaticon-128-pin:before { content: "\f17f"; }
.flaticon-129-placeholder:before { content: "\f180"; }
.flaticon-130-list:before { content: "\f181"; }
.flaticon-131-link:before { content: "\f182"; }
.flaticon-132-profits:before { content: "\f183"; }
.flaticon-133-idea:before { content: "\f184"; }
.flaticon-134-lifesaver:before { content: "\f185"; }
.flaticon-135-left-arrow-1:before { content: "\f186"; }
.flaticon-136-leaf:before { content: "\f187"; }
.flaticon-137-layers:before { content: "\f188"; }
.flaticon-138-keyboard:before { content: "\f189"; }
.flaticon-139-key-1:before { content: "\f18a"; }
.flaticon-140-visibility-1:before { content: "\f18b"; }
.flaticon-141-information:before { content: "\f18c"; }
.flaticon-142-hourglass:before { content: "\f18d"; }
.flaticon-143-coffee-cup:before { content: "\f18e"; }
.flaticon-144-home:before { content: "\f18f"; }
.flaticon-145-heart:before { content: "\f190"; }
.flaticon-146-handshake:before { content: "\f191"; }
.flaticon-147-help:before { content: "\f192"; }
.flaticon-148-menu:before { content: "\f193"; }
.flaticon-149-worldwide:before { content: "\f194"; }
.flaticon-150-eyeglasses:before { content: "\f195"; }
.flaticon-151-wine:before { content: "\f196"; }
.flaticon-152-size:before { content: "\f197"; }
.flaticon-153-folder:before { content: "\f198"; }
.flaticon-154-flowchart:before { content: "\f199"; }
.flaticon-155-flashlight:before { content: "\f19a"; }
.flaticon-156-flash:before { content: "\f19b"; }
.flaticon-157-flag:before { content: "\f19c"; }
.flaticon-158-fingerprint:before { content: "\f19d"; }
.flaticon-159-file-1:before { content: "\f19e"; }
.flaticon-160-woman:before { content: "\f19f"; }
.flaticon-161-quill:before { content: "\f1a0"; }
.flaticon-162-visibility:before { content: "\f1a1"; }
.flaticon-163-warning-1:before { content: "\f1a2"; }
.flaticon-164-cancel-1:before { content: "\f1a3"; }
.flaticon-165-eject:before { content: "\f1a4"; }
.flaticon-166-planet-earth:before { content: "\f1a5"; }
.flaticon-167-cloud-computing:before { content: "\f1a6"; }
.flaticon-168-download:before { content: "\f1a7"; }
.flaticon-169-pie-chart:before { content: "\f1a8"; }
.flaticon-170-key:before { content: "\f1a9"; }
.flaticon-171-door:before { content: "\f1aa"; }
.flaticon-172-hard-drive:before { content: "\f1ab"; }
.flaticon-173-compact-disc:before { content: "\f1ac"; }
.flaticon-174-dice:before { content: "\f1ad"; }
.flaticon-175-notebook:before { content: "\f1ae"; }
.flaticon-176-diamond:before { content: "\f1af"; }
.flaticon-177-cube:before { content: "\f1b0"; }
.flaticon-178-shield-1:before { content: "\f1b1"; }
.flaticon-179-server:before { content: "\f1b2"; }
.flaticon-180-cut:before { content: "\f1b3"; }
.flaticon-181-cursor:before { content: "\f1b4"; }
.flaticon-182-trophy:before { content: "\f1b5"; }
.flaticon-183-crop:before { content: "\f1b6"; }
.flaticon-184-credit-card:before { content: "\f1b7"; }
.flaticon-185-network-1:before { content: "\f1b8"; }
.flaticon-186-mouse:before { content: "\f1b9"; }
.flaticon-187-monitor:before { content: "\f1ba"; }
.flaticon-188-compass:before { content: "\f1bb"; }
.flaticon-189-analytics:before { content: "\f1bc"; }
.flaticon-190-network:before { content: "\f1bd"; }
.flaticon-191-coding:before { content: "\f1be"; }
.flaticon-192-cloud:before { content: "\f1bf"; }
.flaticon-193-cancel:before { content: "\f1c0"; }
.flaticon-194-wall-clock:before { content: "\f1c1"; }
.flaticon-195-clapperboard:before { content: "\f1c2"; }
.flaticon-196-check:before { content: "\f1c3"; }
.flaticon-197-clipboard:before { content: "\f1c4"; }
.flaticon-198-cassette:before { content: "\f1c5"; }
.flaticon-199-car:before { content: "\f1c6"; }
.flaticon-200-shutter:before { content: "\f1c7"; }
.flaticon-201-photo-camera:before { content: "\f1c8"; }
.flaticon-202-calendar:before { content: "\f1c9"; }
.flaticon-203-calculator:before { content: "\f1ca"; }
.flaticon-204-birthday-cake:before { content: "\f1cb"; }
.flaticon-205-bug:before { content: "\f1cc"; }
.flaticon-206-briefcase:before { content: "\f1cd"; }
.flaticon-207-package:before { content: "\f1ce"; }
.flaticon-208-bookmark:before { content: "\f1cf"; }
.flaticon-209-book:before { content: "\f1d0"; }
.flaticon-210-file:before { content: "\f1d1"; }
.flaticon-211-notification:before { content: "\f1d2"; }
.flaticon-212-quaver:before { content: "\f1d3"; }
.flaticon-213-battery-3:before { content: "\f1d4"; }
.flaticon-214-battery-2:before { content: "\f1d5"; }
.flaticon-215-battery-1:before { content: "\f1d6"; }
.flaticon-216-battery:before { content: "\f1d7"; }
.flaticon-217-bar-chart:before { content: "\f1d8"; }
.flaticon-218-dollar:before { content: "\f1d9"; }
.flaticon-219-left-arrow:before { content: "\f1da"; }
.flaticon-220-arroba:before { content: "\f1db"; }
.flaticon-221-pencil-case:before { content: "\f1dc"; }
.flaticon-222-inbox-1:before { content: "\f1dd"; }
.flaticon-223-inbox:before { content: "\f1de"; }
.flaticon-224-warning:before { content: "\f1df"; }
.flaticon-225-anchor:before { content: "\f1e0"; }
.flaticon-226-alarm-clock:before { content: "\f1e1"; }
.flaticon-227-aeroplane:before { content: "\f1e2"; }
.flaticon-228-shopping-cart:before { content: "\f1e3"; }
.flaticon-229-add:before { content: "\f1e4"; }
.flaticon-230-shield:before { content: "\f1e5"; }
.flaticon-231-wheelchair:before { content: "\f1e6"; }
