.container {
  display: grid;

  grid-template-areas:
  "navigation"
  "main";
}

aside {
  grid-area: navigation;
}

main {
  grid-area: main;
}
.app-board {
  height: 60px;
  background: gray;
}

@media (min-width: 640px) {
  .container {
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
      "navigation main";
    height: 100vh;
  }
}

.head-panel {
  background: #F2F1F1;
  height: 40px;
  padding: 10px 10px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.head-panel__photo {
  width: 40px;
  height: 40px;

  box-sizing: border-box;
  border-radius: 20px;
  display: inline-block;
  float: left;
}

.head-panel__greeting {
  float: left;
  line-height: 40px;
  margin: 0 10px;
}

.head-panel__btn {
  height: 40px;
  background: #323232;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0px;
  padding: 0 15px;

  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  float: right;
}

.head-panel__btn:focus {
  outline: none;
}

.head-panel__btn, .head-panel__greeting {
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: bold;
}






