<div class="container">
  <aside>
    <app-sidebar></app-sidebar>
  </aside>
  <main>
    <div class="head-panel">
      <ng-container *ngIf="user">
        <img src="{{user.photoURL}}" class="head-panel__photo">
        <div class="head-panel__greeting">Hi, {{user.displayName}}</div>
      </ng-container>
      <button (click)="logout()" class="head-panel__btn">
        Logout
      </button>
    </div>
<!--    <app-board></app-board>-->
<!--    <app-projects></app-projects>-->
    <router-outlet></router-outlet>
  </main>
</div>

